section{
    position: absolute;
    height: 50vh;
    width: 50vw;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

section:first-child{
    background-color: red;
  
    top: 0px;
    left: 0px;
}

section:nth-child(2){
    background-color: green;
    top: 0;
    right: 0;
}

section:nth-child(3){
    background-color: yellow;
    bottom: 0;
    left: 0;
}

section:nth-child(4){
    background-color: pink;
    bottom: 0;
    right: 0;
}

div{
    background-color: white;
    position: absolute;
    width: 8em;
    height: 8em;
}


section:first-child>div:first-child{
    top: 0;
    left: 0;
    border-bottom-right-radius: 50em;

}


section:first-child>div:nth-child(2){
    top:0px;
    right: 0px;
    border-bottom-left-radius: 50em;
}

section:nth-child(2)>div:first-child{
    top: 0;
    left: 0;
    border-bottom-right-radius: 50em;
}

section:nth-child(2)>div:nth-child(2){
    top: 0;
    right: 0;
    border-bottom-left-radius: 50em;
}


section:nth-child(3)>div:first-child{
    bottom: 0;
    left: 0;
    border-top-right-radius: 50em;
}

section:nth-child(3)>div:nth-child(2){
    bottom:  0;
    right: 0;
    border-top-left-radius: 50em;
}

section:nth-child(4)>div:first-child{
    bottom: 0;
    left: 0;
    border-top-right-radius: 50em;
}

section:nth-child(4)>div:nth-child(2){
    bottom: 0;
    right: 0;
    border-top-left-radius: 50em;
}

.nv{
    height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 50%;
    position: relative;
   
}

section:first-child>nav,section:nth-child(2)>nav,section:nth-child(3)>nav,section:nth-child(4)>nav{
  
    
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
   
}

section:nth-child(1)>nav>div,section:nth-child(2)>nav>div,section:nth-child(3)>nav>div,section:nth-child(4)>nav>div{
    background-color: red;
    width: 4vw;
    height: 6vh;
    position: relative;
}